body {
    background: #47545c;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color:whitesmoke;
}

.logo
{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 30px;
}

.Heder1
{
    font-size: 50px;
    margin-bottom: -10px;
    
}

.Hedera
{
    font-size: 24px;
    
}

.izborGradova  /*div za gradove  */
{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: +10px;
}
.izborGradova button
{
    padding: 6px;
}

.faksdiv /*fakulteti div */
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.BoxFakultet /*dugme fakulteta */
{
    width: 220px;
    padding: 10px;
   
}

.novigrad /* div za dodavanje grada */
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.novigrad button
{
    padding: 6px;


}


.selectGrad select /*select za grad */
{
    background-color: transparent;
}

select /*svi selekti */
{
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:3px;
    outline: 0;
    cursor: pointer;
    background-color:  transparent;
    font-family: inherit;
    font-size: 18px;
    transition: .3s;
    color: rgb(4, 235, 188);
    margin-left: 10px;
    margin-right: 10px;
    

}

option
{
    color: rgb(4, 235, 188);
    background:black;
}

select:hover
{
    border-color:rgb(4, 235, 188);
    box-shadow:0 0 8px 0 rgb(4, 235, 188);

}


.Dodav /*dodavanje fakulteta div */
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.Dodav button
{
    padding: 6px;
}

.PPIZB /* div za predmete i profesore*/
{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;


}

.PPDugme  /* Profesor pRedmet dugme*/
{
    width: 220px;
    padding: 10px;
    


}

.ispisprofesor  /* div za ispisivanje PP */
{
    display: flex;
    justify-content: space-evenly;

}

.BoxPP /*box za pp  */
{
    text-align: center;
}

.DodajProf /*dodavanje profesora  */
{
    margin-bottom: 20px;
    padding: 6px;

}
.divDodavanjeProfesora button
{
    padding: 6px;
}
.BoxPP button
{
    padding: 6px;
}
.dod button
{
    padding: 6px;
}

.izborKnjSkr button
{
    padding: 6px;
}

.izborKnjSkr
{
    align-items: baseline;
}

.predmetBA /*ispisivanje predmeta  */
{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;

}

.predmetCheck /*dugme za predemtete  */
{
    width: 220px;
    padding: 10px;
    
}

.divDodavanjeProfesora /*dodavanje div  */
{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: baseline;
}

.dod /*dodavanje predmeta div*/
{
    display: flex;
    justify-content:center;
    align-items: baseline;
    margin-top: 20px;
}
.inputpredmet
{
    margin-right: 10px;
}

.dodajpredmetb  /* dodavanje predmeta*/
{
    margin-bottom: 10px;
}

.predmetdiv /* izabir predmeta  */
{
    margin-bottom: 10px;

}

.izborKnjSkr /* izbor knjige i skripte */
{
    display: flex;
    justify-content:center;
    flex-direction: row;
    margin-bottom: 20px;
}

.ksforma /* lista ks */
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: baseline;

}
.knjigecheck /* dizajn dugmeta knjigi i skripti */
{
    width: 300px;
    padding: 10px;
    

}
.skrpitacheck
{
    width: 300px;
    padding: 10px;
    

}

.up /* upoud */
{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 20px;
}

input[type=text]
{
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:4px;
    box-sizing:border-box;
    transition:.3s;
    background-color: transparent;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type=text], textarea
{
    font-family: inherit;
    color: whitesmoke;
    font-size: 18px;

}

input[type=text]:hover
{
    border-color:rgb(4, 235, 188);
    box-shadow:0 0 8px 0 rgb(4, 235, 188);
}

input[type=text]:focus
{
    border-color:rgb(4, 235, 188);
    box-shadow:0 0 8px 0 rgb(4, 235, 188);
}

input[type=file]
{
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:4px;
    box-sizing:border-box;
    transition:.3s;
    background-color: transparent;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;

}



input[type=file]:focus
{
    border-color:rgb(4, 235, 188);
    box-shadow:0 0 8px 0 rgb(4, 235, 188);
}

button
{
    font-family: 'Courier New', Courier, monospace;
    border-color: rgba(6, 46, 44, 0.562);
    font-size: 19px;
    color:rgb(4, 235, 188);
    background-color:transparent;
    border-radius: 11px;
    transition: .3s;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

button:hover
{
    border-color:rgb(4, 235, 188);
    box-shadow:0 0 8px 0 rgb(4, 235, 188);
    color:rgb(4, 235, 188);
}

button:focus
{
    border-color:rgb(4, 235, 188);
    box-shadow:0 0 20px 0 rgb(4, 235, 188);
    color:rgb(4, 235, 188);

}

.up button
{
    padding: 6px;
}

